<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I am a user researcher and second-year PhD student in <a href="https://www.soe.ucsc.edu/departments/computational-media">Computational Media</a> at UC Santa Cruz with  a background in cognitive science and healthcare. My research interests include HCI, UX, mHealth, behavior change, and conversational agents. I am passionate about using and evaluating technology to improve people's wellbeing. 
            </p>
            <p class="paragraph-text justify-text">
                My current work focuses on mobile apps for health and wellness, conversational agents for mental health, and behavior change. 
            </p>
            <p class="paragraph-text justify-text">
                I maintain a little blog at <a href="{{ site.blog_url }}">nagekar.com</a> where I write about my recent interests and other activities. I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
