<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I am a user researcher and second-year PhD student in <a href="https://www.soe.ucsc.edu/departments/computational-media">Computational Media</a> at UC Santa Cruz with  a background in cognitive science and healthcare. My research interests include HCI, Digital Health, behavior change, and conversational agents. I am passionate about using and evaluating technology to improve people's wellbeing. 
            </p>
            <p class="paragraph-text justify-text">
                My current work focuses on mobile apps for health and wellness, conversational agents for mental health, and behavior change. 
                <ul>
                  <li>Review of Mobile Apps for Mental Health</li>
                  <li>Analysis of Mental Health Chatbots</li>
                  <li>Behavior Change Interventions</li>
                </ul>
            </p>
            <p class="paragraph-text justify-text">
                I post my attempts to teach myself data visualzation with R on <a href="https://github.com/tessaeagle/TidyTuesday">GitHub</a>. Feel free to email me at teagle@ucsc.edu or read more about my experience: <a href="https://drive.google.com/file/d/1lPqjDaBlUbujdHZoSc6zd7jZ9RjLHfqQ/view?usp=sharing">Resume</a>, <a href="https://docs.google.com/document/d/1fVXjq2zpsLfV2D0ZVPjSc5PEJuSGxBjOFSl-BDnDwGc/edit?usp=sharing">Full CV</a>
            </p>
        </div>
    </section>
</div>
