<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div>
            <div class="section-heading" id="chat-text">Contact</div>
            <!--
            <p class="paragraph-text justify-text">
                I'd love to hear from you! I'm open to collaborations, especially on open source projects. Interesting work opportunity? Shoot. Just want to have a coffee and talk about stars, cars or Pokémon? Awesome. 
            </p> -->
            <p class="paragraph-text justify-text">
                Feel free to email me at teagle@ucsc.edu or read more about my experience: <a href="https://docs.google.com/document/d/1_KjoSRXRc2VzLOgQf69PwpIdDonl8tQKLBroHhsiXAk/edit?usp=sharing">Resume</a>, <a href="https://docs.google.com/document/d/1fVXjq2zpsLfV2D0ZVPjSc5PEJuSGxBjOFSl-BDnDwGc/edit?usp=sharing">Full CV</a>
            </p>
            <div class="extra-links">
                <span class="hint--bottom bottom-link" aria-label="Email">
                    <a href="teagle@ucsc.edu"><i class="head-icon fas fa-envelope"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="GitHub">
                    <a href="https://github.com/{{ site.github_username }}"><i class="head-icon fab fa-github"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="Twitter">
                    <a href="https://twitter.com/tessuheagle"><i class="head-icon fab fa-twitter"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="Linkedin">
                    <a href="https://www.linkedin.com/in/tessaeagle/"><i class="head-icon fab fa-linkedin-in"></i></a>
                </span>
                <!-- <span class="hint--bottom bottom-link" aria-label="Reddit">
                    <a href="https://www.reddit.com/u/{{ site.reddit_username }}"><i class="head-icon fab fa-reddit"></i></a>
                </span>
                 -->
            </div>
        </div>
    </section>
</div>
