
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Summary</h3>
                    <p class="paragraph-text center-align">
                        I'm a mixed methods researcher fluent in UX methodolgy. I have a passion for evaluating digital health technology and talking with users about their experiences. My skillset in Human Subjects Research spans Clincal and User Research and the evaluation of Biotechnology and Digital Health Technology.
                    </p>
                </div> 
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Qualitative</h3>
                    <p class="paragraph-text center-align">
                        * Survey Design<br>
                        * User Interviews<br>
                        * Usability Testing<br>
                        * Thematic Analysis<br>
                        * Cognitive Walkthroughs<br>
                        * IRB and Protocol Development
                    </p>
                       
                    <h3 class="center-align skills-subsection">Quantitative</h3>
                    <p class="paragraph-text center-align">
                        * Survey Analysis<br>
                        * Processing, p5.js<br>
                        * Stats & Data Viz with R<br>
                        * Bioemtric Collection (EEG/HRV/GSR)
                    </p>

                </div> 
            </div>
        </div>
    </section>
</div>
